.container {
  max-width: 90%;
  margin: 0 auto;
  color: white;
}
@media (max-width: 678px) {
  .container {
    max-width: 80%;
  }
}
h1 {
  font-size: clamp(1rem, 5vw, 2rem);
}
.slick-slider {
  margin-bottom: 5em;
}
.slick-slide {
  text-align: center;
  margin-bottom: 0 !important;
}
.slick-slide > div {
  border-radius: 5px;
  margin: 0 7px;
  cursor: pointer;
}

.thumbnail img {
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
}
/* .slick-next,
.slick-prev {
  background-color: black;
  border-radius: 50%;
} */

.player-wrapper {
  background-color: #d6e1ee;
  padding: clamp(0.5em, 3vw, 3em);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.react-player {
  padding-top: calc(56.25% * 1.7778);
  position: relative;
}

.react-player > div {
  position: absolute;
}

.close-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -12px;
  right: -12px;
  background-color: #d6e1ee;
  padding: 2px;
  border-radius: 50%;
  box-shadow: -2px 2px 7px rgb(100, 100, 100);
  z-index: 999;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.404);
}
